/* --------------------------------------------------------------

   Fonts

-------------------------------------------------------------- */

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/RobotoSlab-Bold.ttf');
}


/* --------------------------------------------------------------

   Typography

-------------------------------------------------------------- */

$arc_main_font: 'Lato', sans-serif;
$arc_headings: 'Roboto Slab', serif;


/* --------------------------------------------------------------

   Colours

-------------------------------------------------------------- */

$arc_bg: #F8F7F5;
$arc_copy: #433740;
$arc_rose: #a74e94;
$arc_white: white;
