/* --------------------------------------------------------------

   Fonts

-------------------------------------------------------------- */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


/* --------------------------------------------------------------

   Typography

-------------------------------------------------------------- */

$arc_main_font: 'Open Sans', sans-serif;


/* --------------------------------------------------------------

   Colours

-------------------------------------------------------------- */

$arc_bg: #f4efef;
